<table>
    <colgroup>
        <col class="vvrcol1">
        <col class="vvrcol2">
        <col class="vvrcol3">
        <col class="vvrcol4">
        <col class="vvrcol5">
        <col class="vvrcol6">
        <col class="vvrcol7">
        <col class="vvrcol8">
        <col class="vvrcol9">
        <col class="vvrcol10">
        <col class="vvrcol11">
        <col class="vvrcol12">
        <col class="vvrcol13">
    </colgroup>
    <tr class="vvrrow1">
        <td colspan="3">Ростовская АЭС</td>
        <td colspan="8" class="border-trl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ВЕДОМОСТЬ ВЫПОЛНЕННЫХ РАБОТ </td>
        <td class="border-tbl">Лист</td>
        <td class="border-trb hc">$PAGE$</td>
    </tr>
    <tr class="vvrrow2">
        <td colspan="2" class="border-tbl">Энергоблок</td>
        <td class="border-trb">$USN$</td>
        <td colspan="2" class="border-bl hr">ПО РЕМОНТУ</td>
        <td colspan="6" class="border-rb">№$DOCNUM$ ВР</td>
        <td class="border-tbl">Листов</td>
        <td class="border-trb hc">$PAGECOUNT$</td>
    </tr>
    <tr class="vvrrow3">
        <td colspan="11" class="border-trl">Обозначение, наименование системы/установки:</td>
        <td colspan="2" rowspan="2" class="border-trl">Подразделение-владелец:</td>
    </tr>
    <tr class="vvrrow4">
        <td colspan="11" class="border-rbl ut">XQ, $SUBSYS$, оборудование РК</td>
    </tr>
    <tr class="vvrrow5">
        <td colspan="11" class="border-rbl">Обозначение, наименование оборудования:</td>
        <td class="border-l hc ut">ОРБ</td>
        <td class="border-r"></td>
    </tr>
    <tr class="vvrrow6">
        <td colspan="11" class="ut">$WORKS$</td>
        <td class="border-bl"></td>
        <td class="border-rb"></td>
    </tr>
    <tr class="vvrrow7">
        <td class="hc">№ п/п</td>
        <td colspan="2" class="hc">Дата начала/<br/>окончания работ </td>
        <td colspan="6" class="hc">Вид ремонта. Перечень выполненных работ. Наименование сборочных единиц (узлов).</td>
        <td colspan="2" class="hc">Обоснование работ</td>
        <td colspan="2" class="hc">Трудозатраты, чел.час. (фактические)</td>
    </tr>
    <tr class="vvrrow8">
        <td rowspan="4" class=" border-trl hc">$PAGE$</td>
        <td colspan="2" class="border-trl"></td>
        <td colspan="6" rowspan="2" class="border-trl hc ut">$WT$</td>
        <td colspan="2" rowspan="6" class="hc"><div class="vert" style="overflow: visible; width: 1.78cm; font-style: italic;"> регламент&nbsp;РГ.0.33.01</td>
        <td colspan="2" class="border-trl"></td>
    </tr>
    <tr class="vvrrow9">
        <td colspan="2" class="border-rl hc">с</td>
        <td  colspan="2" rowspan="5" class="border-rbl hc" style="vertical-align: top;">$HOURS$</td>
    </tr>
    <tr class="vvrrow10">
        <td colspan="2" class="border-rl hc ut">$BEGDATE$</td>
        <td colspan="6" rowspan="4" class="border-rbl" style="vertical-align: top;">$CURRWORK$<br/>$ACTIONS$</td>
    </tr>
    <tr class="vvrrow11">
        <td colspan="2" class="border-rl hc">по</td>
    </tr>
    <tr class="vvrrow12">
        <td class="border-rl"></td>
        <td colspan="2" class="border-rl hc ut">$ENDDATE$</td>
    </tr>
    <tr class="expanding">
        <td class="border-rbl"></td>
        <td colspan="2" class="border-rbl"></td>
    </tr>
    <tr class="vvrrow13 f11">
        <td colspan="6" class="border-tl">Подразделение-владелец:</td>
        <td class="border-t"></td>
        <td colspan="6" class="border-tr">Подразделение АС, ответственное за ремонт</td>
    </tr>
    <tr class="vvrrow14 f11">
        <td colspan="6" class="border-l">$OWNERLOC$</td>
        <td class="border-none"></td>
        <td colspan="6" class="border-r">$REPAIRERLOC$</td>
    </tr>
    <tr class="vvrrow15 f11">
        <td colspan="3" class="border-bl"></td>
        <td class="border-b hc">$DATE$</td>
        <td colspan="2" class="border-b hc">$OWNERNAME$</td>
        <td class="border-none"></td>
        <td colspan="2" class="border-b"></td>
        <td colspan="2" class="border-b hc">$DATE$</td>
        <td colspan="2" class="border-rb hc">$REPAIRERNAME$</td>
    </tr>
    <tr class="vvrrow16 f11">
        <td colspan="3" class="border-tl hc vt f9">(подпись)</td>
        <td class="border-t hc vt f9">(дата)</td>
        <td colspan="2" class="border-t hc vt f9">(И. О. Фамилия)</td>
        <td class="border-none"></td>
        <td colspan="2" class="border-t hc vt f9">(подпись)</td>
        <td colspan="2" class="border-t hc vt f9">(дата)</td>
        <td colspan="2" class="border-tr hc vt f9">(И. О. Фамилия)</td>
    </tr>
    <tr class="vvrrow17 f11">
        <td colspan="6" rowspan="4" class="border-bl"></td>
        <td class="border-none"></td>
        <td colspan="6" class="border-r">Руководитель работ по наряду-допуску</td>
    </tr>
    <tr class="vvrrow18 f11">
        <td class="border-none"></td>
        <td colspan="4" class="border-none hc">$CHIEFLOC$</td>
        <td colspan="2" rowspan="2" class="border-rb hc">$CHIEFNAME$</td>
    </tr>
    <tr class="vvrrow19 f11">
        <td class="border-none"></td>
        <td colspan="2" class="border-b"></td>
        <td colspan="2" class="border-b hc">$DATE$</td>
    </tr>
    <tr class="vvrrow20 f11">
        <td class="border-b"></td>
        <td colspan="2" class="border-tb hc vt f9">(подпись)</td>
        <td colspan="2" class="border-tb hc vt f9">(дата)</td>
        <td colspan="2" class="border-trb hc vt f9">(И. О. Фамилия)</td>
    </tr>
    <tr class = "tfooter">
        <td colspan="13" class="hr vb border-t ov"><div style="position: relative; bottom: 0cm; right: -0.5cm; color: transparent; text-shadow: 2px 0 rgb(180, 180, 180)">П.00.52 Д.5.2</div></td> 
    </tr>
</table>